*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,li{
    margin: 20px;
    padding: 35px;
    border: 1px solid black;

}
/*los puntos especifican clases*/
header .texto-blanco{
    background-color: rgb(98, 12 , 12);

}

.texto-blanco, .texto-blanco a{
    color: white;
}

 @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');


a{
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
}

:root{
    --color-principal-verde:#006634;
    --color-principal-naranja:#ed6615;
    --fondo-secciones-claro:#efece3;

    --fuente-titulos: 'Forum';
    --tamano-titulos-1: 35px;

    --margenes-entre-bloques: 100px;

    --borde-rendondo:10px;
    --borde-grosor: 3px;
    --borde-color: var(--color-principal-naranja);
    --padding-boton: 10px;

}

.botones-cabecera a{
    border:var(--borde-grosor) solid var
    (--borde-color);
    text-decoration: none;
    border-radius: var(--borde-rendondo);

    padding: var(--padding-boton);
}