*{
     margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Open+Sans:wght@300;400&display=swap");

:root{
    --color-fondo-principal: #FDF5E6;
    --color-texto-principal: #6E4228;
    --color-detalle-verde: #87A96B;
    --color-btn-naranja:#d59b8d;

    --fuente-titulos: 'Montserrat';
    --fuente-parrafos: 'Open sans', sans-serif;

    
    --sombra-botones-oscura: rgba(255, 255, 255, 0.24) 0px 3px 8px;
    --sombra-botones-clara: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    --margen-interna-secciones:50px;

}

header{
    background-color: var(--color-detalle-verde);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.logo img{
    height: 50px;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: var(--color-fondo-principal);
    font-family: var(--fuente-titulos);
    font-weight: 600;
}

.boton-pedir{
    background-color: #d59b8d;
    
}

.boton-pedir a{
    display: inline-block;
    background-color: #d59b8d;
    padding: 10px 18px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    font-family: var(--fuente-titulos);
    font-weight: 600;
    text-transform: uppercase;
    box-shadow: rgba(0,0,0,0.18) 0px 2px 4px;
}
.hero{
    position: relative;
    height: calc(100vh - 88px);
    background-color: var(--color-fondo-principal);
    background-image: url('img/fondohero.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.capa-oscura{
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0 , 0.4);
    z-index: 0;

}

.capa-texto{
    z-index: 1;
}

.hero{
    text-align: center;

.hero h1{
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
}

.hero p{
    color: white;
}

.hero a{
    text-decoration: none;
    color: white;
    background-color: var(--color-btn-naranja);
    padding: 10px 30px;
    border-radius: 5px;
    box-shadow: var(--sombra-botones-clara);
}
    .hero-botones{
        margin-top: 30px;
    }
}

.rollos{
    background-color: var(--color-texto-principal);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--margen-interna-secciones);
    color: var(--color-fondo-principal);

}

.rollos-contenido{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.rollos-descripcion{
    flex: 1;
    width: 100%;

    h2{
        font-family: var(--fuente-titulos);
        font-size: 4rem;
    }
    h3{
        font-family: var(--fuente-titulos);
        font-size: 1.5rem;
        margin-bottom: 20px;

    }
    a{
        text-decoration: none;
        color: var(--color-detalle-verde);
        background-color: var(--color-fondo-principal);
        padding: 10px 30px;
        border-radius: 10px;
        text-align: center;
        font-size: 1.3rem;
    }
}

.rollos-productos{
    flex: 2;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.producto{
    border: 1px solid var(--color-btn-naranja);
    border-radius: 10px;
    background-color: var(--color-btn-naranja);
}

.contenido-rollos{
    padding: 20px;
    font-family: var(--fuente-parrafos);



    h2{
        text-align: center;
        font-size: 1.5rem;
        font-family: var(--fuente-titulos);
    }
    h3{
        font-size: 1.2rem;
        font-family: var(--fuente-titulos);
    }
    ul{
        margin: 15px 0px;

    }
    .precio{
        font-size: 1.5rem;
    }

    .precio a{
        text-decoration: none;
        color: var(--color-detalle-verde);
        background-color: var(--color-fondo-principal);
        padding: 10px 30px;
        border-radius: 10px;

    }
}

.rollos-productos img{
    width: 100%;
}

.estilo-botones{
        text-decoration: none;
        color: var(--color-detalle-verde);
        background-color: var(--color-fondo-principal);
        padding: 10px 30px;
        border-radius: 10px;
        text-align: center;
        font-size: 1.3rem;
}

.rollos-ingredientes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    gap: 20px;

    .ingredientes{
        background-color: var(--color-detalle-verde);box-shadow: rgba
        (50, 50, 93, 0.25) 0px 30px 60px -12px 
        inset, rgba(0, 0, 0 , 0.3) 0px 18px 36px 
        -18px inset;
        padding: 20px;
        border-radius: 0px 10px 0px 10px ;
    }

}

.menu-dia{
    background-color: var(--color-fondo-principal);
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: var(--margen-interna-secciones);
    text-align: center;

    h2{
        font-family: var(--fuente-titulos);
        font-size: 3rem;

    }
    .menu-items{
        display: flex;
        gap: 30px;
        flex-wrap: wrap;

    }

    .opcion-almuerzo{
        box-shadow: var(--sombra-botones-oscura);
        padding: 20px;
        border-radius: 20px;
        text-align: left;

        img{
            border-radius: 10px;
        }
        ul{
            margin-left: 20px;
            margin-top: 10px;
        }
    }
    
    a{
        background-color: var(--color-texto-principal);
        color: var(--color-fondo-principal);
    }
}
