*{
     margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Playlist+Script&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Playlist+Script&display=swap");

:root{
    --color-fondo-principal: #FDF5E6;
    --color-texto-principal: #6E4228;
    --color-detalle-verde: #87A96B;

    --fuente-titulos: 'Montserrat';
    --fuente-parrafos: 'Open sans';

}

header{
    background-color: var(--color-detalle-verde);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.logo img{
    height: 50px;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: var(--color-fondo-principal);
    font-family: var(--fuente-titulos);
    font-weight: 600;
}

.boton-pedir{
    background-color: #d59b8d;
    
}

.boton-pedir a{
    text-decoration: none;
    background-color: #d59b8d;
    padding: 30px;
    margin: 20px;
    height: 30px;
    width: 100px;
    border-radius: 5px;

}